@if (modification) {
  <div class="pipe-values">
    @if (modification.crosslinkId) {
      <div class="crosslink-id">
        <span>Crosslink ID:</span>
        <span>{{modification.crosslinkId}}</span>
      </div>
    }
    @if (modification.isBranch || modification.isBranchRef) {
      <div class="branch">
        <span>Branch</span>
      </div>
    }
    @if (modification.ambiguityGroup) {
      <div class="ambiguity-group" matTooltip="Localization Score {{modification.localizationScore}}">
        <p>
          Ambiguity Group:<br>
          {{modification.ambiguityGroup}} ({{modification.localizationScore}})
        </p>
      </div>
    }
    @for (pipeValue of modification.modValue.pipeValues; track $index) {
      @if (pipeValue.value.toUpperCase() !== "#BRANCH") {
        @if (pipeValue.value.replace("#", "") !== modification.crosslinkId) {
          @if (!pipeValue.value.startsWith("#")) {
            <ng-template #pipeValueTemplate>
              <div class="pipe-indicator"></div>
              @if(pipeValue.source){
                {{pipeValue.source}}:{{pipeValue.value}}
              }@else{
                {{pipeValue.value}}
              }
            </ng-template>
            @if (pipeValue.source) {
              @if (["GNO", "G", "GLYCAN"].includes(pipeValue.source.toUpperCase())) {
                <div class="pipe-value" [ngClass]="'pipe-type-glycan'">
                  <ng-container *ngTemplateOutlet="pipeValueTemplate"></ng-container>
                </div>
                @if (["GNO", "G"].includes(pipeValue.source.toUpperCase())) {
                  <app-show-glycan [glycanId]="pipeValue.value" class="small-glycan"></app-show-glycan>
                }
              } @else {
                <div class="pipe-value" [ngClass]="'pipe-type-' + pipeValue.type.toLowerCase()">
                  <ng-container *ngTemplateOutlet="pipeValueTemplate"></ng-container>
                </div>
              }
            } @else {
              <div class="pipe-value" [ngClass]="'pipe-type-' + pipeValue.type.toLowerCase()">
                <ng-container *ngTemplateOutlet="pipeValueTemplate"></ng-container>
              </div>
            }


          }

        }
      }

    }
  </div>
}


